body {
  background-color: darkblue;
}

#text {
  background-color: black;
  color: white;
  padding: 10px;
}

#picture img{
  width:200px;
  border-style:solid;
}

#main{
  width: 1100px;
  margin:auto;
}

#profile{
  width:200px;
  display:block;
  float:left;
  color:white;
  margin-right:15px;
  text-align:center;
}

#game,#navCross{
  display:inline-block;
}
#game {
  width: 800px;
  background-color: lightgray;
  color: white;
  margin: 0 auto;
  padding: 10px;
}

#navCross {
  width: 100px;
  margin-right: 8px;
  border: 5px solid lightgray;
  background: darkgray;
  background-image: url('dcross.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 28px;
}

#navCross div:nth-child(4){
  float:right;
}
#navCross div:nth-child(3){
  float:left;
}
#navCross div:nth-child(5), #navCross div:nth-child(2){
  clear:both;
  text-align:center;
}
#navCross div{
  margin-bottom: 8px;
  border: 1px solid white;
  padding: 2px; 
  background-color:rgba(169,169,169,0.5);
}
#navCross div:hover{
  background-color:rgb(207, 198, 148);
  transition: 0.5s;
}

#navCross div:first-child {
background-color: white;
border: 1px solid black;
padding: 2px;
color: black;
text-align:center;
margin-bottom: 10px;
}

#navCross div:first-child:hover {
background-color: white;
}

.clickable{
  color: blue!important;

}

#controls {
  border: 1px black solid;
  padding: 5px;
}

#stats {
  border: 1px black solid;
  color: black;
  padding: 5px;
}

#monsterStats {
  display: none;
  border: 1px black solid;
  color: white;
  padding: 5px;
  background-color: red;
}

.stat {
  padding-right: 10px;
}

a{
  color: white;
}

#stats ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#stats ul ul{
  margin-left: -50px;
}

#stats li{
  display: inline-block;
}

#stats li li{
  display: block;
}

#stats li > *:nth-child(1){
  font-weight: bolder;
  padding: 0.5em;
}

#stats li button:nth-child(1){
  padding: 0;
  background-color: transparent;
  border: 1px solid gray;
  margin-left: 0.5em;
  border-radius: 5px;
}

#stats li:nth-child(4), #stats li:nth-child(5){
  display: block;
  float: right;
}

#stats li button:nth-child(1):hover{
background-color: white;
transition: 0.3s;
}

#objects{
  background-color: white;
  width: 55px;
  
}

#objects li{
  padding: 0 .5em;
  margin: none;
  background-color: white;
}

#weapons{
  background-color: white;
  width: 70px;
  position: relative;
  left:110px;
  
}
#weapons li{
  padding: 0 .5em;
  background-color: white;
}
.hidden {
  display: none;
}
/* Player and Admin pages */
#main, #player{
  display:none;
}
#controls{
  position:relative;
}
#go {
  list-style-type:none;
  list-style:none;
  padding:0;
  margin:0;
}
#go li {
  border-radius:2px;
  padding: 2px;
  background-color: white;
  display:block;
  width:60px;
  text-align: center;
}

#go li:hover {
  background:gray;
}

#go li:active {
  background:yellow;
}

#go li a {
  color:black;
}

#go li a:hover {
  color:yellow;
}

#go li a:active {
  color:blue;
}
#go{
  position:absolute;
  left:260px;
  display:none;
  background-color: white;
}
#playerPage {
  clear: both;
  background-color: rgb(202, 177, 130);
  border: 3px dashed rgb(148, 129, 85);;
  margin-top: 20px;
  text-align: center;
  height:400px;
}
#playerPicture {
  border: 3px dashed rgb(148, 129, 85);
  width:200px;
  margin-left:10px;
  float:left;
  border-radius:20px;
}
#playerPageName{
  font-size:40px;
   margin-left:10px;
  float:left;
}
#imageName{
  background-color: rgb(40, 48, 48);
}
#pageStats{
  border: 3px dashed rgb(148, 129, 85);
  
}
#fname, #lname{
  margin-left:200px;
  margin:15px;
}

label{
  background-color:lightgray;
  color:black;
  border:2px black solid;
  padding:4px;
}